.dataTableWrapper {
    font-size: 0.875em; /* 14/16 */

    > .dataTables_wrapper {
        margin-top: 0.625em; /* 10/16 */
    }
}

table.dataTable {
    width: 100%!important;
}

table.dataTable tbody > tr.selected {
    background-color: lighten($brand-secondary, 20%);
}

table.dataTable.table-checkbox {
    tbody tr,
    thead th:first-child {
        cursor: pointer;
    }
}

table.dataTable.table-thumbnails tbody td {
    vertical-align: middle;
}

.dataTableL {
    @include span(6);
}

.dataTableF {
    @include span(6 last);
}

.dataTableI {
    @include span(5);
}

.dataTableP {
    @include span(7 last);
}
