.has-addon-feedback .form-control-feedback {
    right: auto;
    display: inline-block;
    margin-left: -$input-height-base;
}

.form-group-left {
    @include span(6);
}

.form-group-right {
    @include span(6 last);
}

html .form-horizontal {
    .checkbox-inline {
        padding-top: 0;
    }
}

.js-ie-placeholder,
.js-default-option {
    color: $input-color-placeholder;

    > option {
        color: $gray;
    }
}

.alert-messages {
    > .alert {
        margin-bottom: $form-group-margin-bottom;
        font-size: $font-size-h5;
        text-align: left;

        > ul {
            padding: 0;
            list-style-type: none;

            > li {
                margin-top: 0.3125em; /* 5/16 */
            }
        }
    }

    .glyphicon {
        margin-right: 0.3125em; /* 5/16 */
    }
}
