@import 'vendor/compass';
@import 'vendor/breakpoint';
@import 'vendor/susy';

@import 'components/reset';
@import 'vendor/bootstrap';
@import 'vendor/magnific-popup';

$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: after,
);

$max-width: 1260px;
$z-index-top: 9999;

$selection-color: lighten(#0da3ed, 20%);
$brand-secondary: #db6969;

/* Preload images */
body:after {
  content: url('/img/cms/loading.gif');
  display: none;
}

@import 'components/layout';
@import 'components/ajax';
@import 'components/forms';
@import 'components/dropdown';
@import 'components/datatables';

@import 'components/fixed-header';
@import 'components/breadcrumbs';
@import 'components/sidebar';
@import 'components/footer';

@import 'components/login';
