@import 'vendor/compass';
@import 'vendor/breakpoint';
@import 'vendor/susy';

@import 'components/reset-bootstrap';
@import 'vendor/bootstrap';

$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: after,
);

$max-width: 1260px;

$selection-color: lighten(#0da3ed, 20%);
$brand-secondary: darken($brand-primary, 10%);

/* Preload images */
body:after {
  content: url('/img/cms/loading.gif');
  display: none;
}

@import 'components/ajax';
@import 'components/forms';

@import 'components/login';
