@import 'vendor/compass';
@import 'vendor/breakpoint';
@import 'vendor/susy';

@import 'components/reset';
@import 'vendor/bootstrap';
@import 'vendor/magnific-popup';
@import 'vendor/jquery-ui';
@import 'vendor/multiselect';

$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: after,
);

$max-width: 1260px;
$z-index-top: 9999;

$selection-color: lighten(#0da3ed, 20%);
$brand-secondary: #db6969;

/* Preload images */
body:after {
  content: url('/img/cms/loading.gif');
  display: none;
}

@import 'components/layout';
@import 'components/ajax';
@import 'components/forms';
@import 'components/dropdown';
@import 'components/datatables';

@import 'components/fixed-header';
@import 'components/breadcrumbs';
@import 'components/sidebar';
@import 'components/footer';
@import 'components/magnific-popup';

@import 'components/login';

a,
label,
div {
    > .sub-text {
        font-size: $font-size-h5;
        margin-left: 0.3125em; /* 5/16 */
        color: $gray-light;
    }
}

textarea {
    resize: vertical;
    min-height: 3.125em; /* 50/16 */
}
